.container
    .row
        .col-lg-3.footer_col
            .footer_column.footer_contact
                .logo_container
                    .logo
                        a(href='/') #{webConfig.information.name}
                .footer_title Got Question? Call Us 24/7
                .footer_phone= webConfig.contact.phone
                .footer_contact_text
                    p= webConfig.contact.address
                .footer_social
                    ul
                        li
                            a(href=webConfig.contact.facebook)
                                i.fab.fa-facebook-f
                        li
                            a(href=webConfig.contact.twitter)
                                i.fab.fa-twitter
                        li
                            a(href=webConfig.contact.instagram)
                                i.fab.fa-instagram
        - if (webConfig.footer && webConfig.footer.length !== 0)
            - for (var i = 0; i < webConfig.footer.length; i ++)
                .col-lg-2(class=i===0?'offset-lg-2':'')
                    .footer_column
                        .footer_title #{webConfig.footer[i].title}
                        ul.footer_list
                            - for (var j = 0; j < webConfig.footer[i].blogs.length; j ++)
                                - uri_title = "/blog/" + webConfig.footer[i].blogs[j].replace(/\s/g, '-');
                                li
                                    a(href=uri_title) #{webConfig.footer[i].blogs[j]}
// Copyright
.copyright
    .container
        .row
            .col
                .copyright_container.d-flex.flex-sm-row.flex-column.align-items-center.justify-content-start
                    .copyright_content
                        // Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0.
                        | Copyright &copy;
                        script.
                            document.write(new Date().getFullYear());
                        |  All rights reserved
                    .logos.ml-sm-auto
                        ul.logos_list
                            li
                                a(href='#')
                                    img(src='/client/images/logos_1.png' alt='')
                            li
                                a(href='#')
                                    img(src='/client/images/logos_2.png' alt='')
                            li
                                a(href='#')
                                    img(src='/client/images/logos_3.png' alt='')
                            li
                                a(href='#')
                                    img(src='/client/images/logos_4.png' alt='')