.container
    .row
        .col-lg-3.footer_col
            .footer_column.footer_contact
                .logo_container
                    .logo
                        a(href='/') #{webConfig.information.name}
                .footer_title Got Question? Call Us 24/7
                .footer_phone= webConfig.contact.phone
                .footer_contact_text
                    p= webConfig.contact.address
                .footer_social
                    ul
                        li
                            a(href=webConfig.contact.facebook)
                                i.fab.fa-facebook-f
                        li
                            a(href=webConfig.contact.twitter)
                                i.fab.fa-twitter
                        li
                            a(href=webConfig.contact.instagram)
                                i.fab.fa-instagram
        .col-lg-2.offset-lg-2
            .footer_column
                .footer_title Find it Fast
                ul.footer_list
                    li
                        a(href='#') Computers &amp; Laptops
                    li
                        a(href='#') Cameras &amp; Photos
                    li
                        a(href='#') Hardware
                    li
                        a(href='#') Smartphones &amp; Tablets
                    li
                        a(href='#') TV &amp; Audio
        .col-lg-2
            .footer_column
                .footer_title Find it Fast
                ul.footer_list
                    li
                        a(href='#') Video Games &amp; Consoles
                    li
                        a(href='#') Accessories
                    li
                        a(href='#') Cameras &amp; Photos
                    li
                        a(href='#') Hardware
                    li
                        a(href='#') Computers &amp; Laptops
        .col-lg-2
            .footer_column
                .footer_title Customer Care
                ul.footer_list
                    li
                        a(href='#') My Account
                    li
                        a(href='#') Order Tracking
                    li
                        a(href='#') Wish List
                    li
                        a(href='#') Customer Services
                    li
                        a(href='#') Returns / Exchange
// Copyright
.copyright
    .container
        .row
            .col
                .copyright_container.d-flex.flex-sm-row.flex-column.align-items-center.justify-content-start
                    .copyright_content
                        // Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0.
                        | Copyright &copy;
                        script.
                            document.write(new Date().getFullYear());
                        |  All rights reserved | This template is made with
                        i.fa.fa-heart(aria-hidden='true')
                        |  by
                        a(href='https://colorlib.com' target='_blank') Colorlib
                        // Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0.
                    .logos.ml-sm-auto
                        ul.logos_list
                            li
                                a(href='#')
                                    img(src='/client/images/logos_1.png' alt='')
                            li
                                a(href='#')
                                    img(src='/client/images/logos_2.png' alt='')
                            li
                                a(href='#')
                                    img(src='/client/images/logos_3.png' alt='')
                            li
                                a(href='#')
                                    img(src='/client/images/logos_4.png' alt='')