.top_bar
    .container
        .row
            .col.d-flex.flex-row
                .top_bar_contact_item
                    .top_bar_icon
                        img(src='/client/images/phone.png' alt='')
                    | #{webConfig.contact.phone}
                .top_bar_contact_item
                    .top_bar_icon
                        img(src='/client/images/mail.png' alt='')
                    | #{webConfig.contact.email}
                .top_bar_content.ml-auto
                    .top_bar_user
                        - if (!logedIn)
                            .user_icon
                                img(src='/client/images/user.svg' alt='')
                            div
                                a(href='/register') Register
                            div
                                a(href='/sign-in') Sign in
                        - else
                            .user_icon
                                img(src='/client/images/user.svg' alt='')
                            div
                                a(href='javascript:void(0)') #{username}
                            div
                                a.btn-sign-out(href='javascript:void(0)') Sign out
// Header Main
.header_main
    .container
        .row
            // Logo
            .col-lg-2.col-sm-3.col-3.order-1
                .logo_container
                    .logo
                        a(href='/') #{webConfig.information.name}
            // Search
            .col-lg-6.col-12.order-lg-2.order-3.text-lg-left.text-right
                .header_search
                    .header_search_content
                        .header_search_form_container
                            form.header_search_form.clearfix(name='form-search')
                                input.header_search_input(type='search' required='required' placeholder='Search for products...' name='input-search')
                                .custom_dropdown
                                    .custom_dropdown_list
                                        span.custom_dropdown_placeholder.clc All Categories
                                        i.fas.fa-chevron-down
                                        ul.custom_list.clc
                                            li
                                                a.clc(data-c='' href='javascript:void(0)') All Categories
                                            - for (let lv1 of categories)
                                                - if (lv1.level === 1)
                                                    li
                                                        a.clc(data-c=lv1.name href='javascript:void(0)') #{lv1.name}
                                button#btn-search.header_search_button.trans_300(type='button' value='Submit')
                                    img(src='/client/images/search.png' alt='')
            .col-lg-4.col-9.order-lg-3.order-2.text-lg-left.text-right
                .wishlist_cart.d-flex.flex-row.align-items-center.justify-content-end
                    // Cart
                    .cart
                        .cart_container.d-flex.flex-row.align-items-center.justify-content-end
                            .cart_icon
                                img(src='/client/images/cart.png' alt='')
                                .cart_count
                                    span#cartHeader #{cartLength}
                            .cart_content
                                .cart_text
                                    a(href='/cart') Cart
// Main Navigation
nav.main_nav
    .container
        .row
            .col
                .main_nav_content.d-flex.flex-row
                    // Categories Menu
                    .cat_menu_container.cate-container
                        .cat_menu_title.d-flex.flex-row.align-items-center.justify-content-start
                            .cat_burger
                                span
                                span
                                span
                            .cat_menu_text categories
                        ul.cat_menu(hidden='')
                            - for (let lv1 of categories)
                                - if (lv1.level === 1)
                                    li
                                        a(href='/shop?category=' + lv1.name) #{lv1.name}
                                        - if (lv1.children.length !== 0)
                                            ul
                                                - for (lv2 of lv1.childrenObj)
                                                    li
                                                        a(href='/shop?category=' + lv2.name) #{lv2.name}
                                                        - if (lv2.children.length !== 0)
                                                            ul
                                                                - for (lv3 of lv2.childrenObj)
                                                                    li
                                                                        a(href='/shop?category=' + lv3.name) #{lv3.name}

                    // Main Nav Menu
                    .main_nav_menu.ml-auto
                        ul.standard_dropdown.main_nav_dropdown
                            - if (nav_bar)
                                - for (let n of nav_bar)
                                    li
                                        a(href=n.href) #{n.name}
                    // Menu Trigger
                    .menu_trigger_container.ml-auto
                        .menu_trigger.d-flex.flex-row.align-items-center.justify-content-end
                            .menu_burger
                                .menu_trigger_text menu
                                .cat_burger.menu_burger_inner
                                    span
                                    span
                                    span
// Menu
.page_menu
    .container
        .row
            .col
                .page_menu_content
                    .page_menu_search
                        form(action='#')
                            input.page_menu_search_input(type='search' required='required' placeholder='Search for products...')
                    ul.page_menu_nav
                        - if (nav_bar)
                            - for (let n of nav_bar)
                                li.page_menu_item
                                    a(href=n.href) #{n.name}