extends ../../layouts/master

block extra-css
    link(rel='stylesheet' href='/admin/plugins/bootstrap-select/css/bootstrap-select.min.css')
    link(rel='stylesheet' href='https://fonts.googleapis.com/icon?family=Material+Icons')

block extra-js
    script(type='text/javascript' src='/admin/plugins/autosize/autosize.min.js')
    script(type='text/javascript' src='/admin/plugins/bootstrap-select/js/bootstrap-select.min.js')
    script(type='text/javascript' src='/admin/js/pages/web-config/top-category.js')

block content
    .row.clearfix
        .col-lg-12.col-md-12.col-sm-12.col-xs-12
            .card
                .header
                    h2
                        | TOP CATEGORY
                    ul.header-dropdown.m-r--5
                        li.dropdown
                            a.dropdown-toggle(href='javascript:void(0);' data-toggle='dropdown' role='button' aria-haspopup='true' aria-expanded='false')
                                i.material-icons more_vert
                            ul.dropdown-menu.pull-right
                                li
                                    a.waves-effect.waves-block(href='javascript:void(0);') Action
                                li
                                    a.waves-effect.waves-block(href='javascript:void(0);') Another action
                                li
                                    a.waves-effect.waves-block(href='javascript:void(0);') Something else here
                .body
                    -if(errs && errs.database)
                        label.text-danger #{errs.database}
                    form(name='top-categories' action='/manager/dashboard/web-config/top-category' method="POST")
                        .row.clearfix
                            .col-sm-4
                                .input-group
                                    span.input-group-addon
                                        i.material-icons view_list
                                    .select-clear
                                        select.form-control.show-tick(name='top-categ1' id='dkmm')
                                            option(value='') -- Please select --
                                            -if(categories && categories.length !== 0)
                                                -for(let value of categories)
                                                    optgroup(label=value._id)
                                                        -for(let c of value.categories_group)
                                                            option(value=c._id selected=(topCategories[0]===c._id.toString())) #{c.name}


                            .col-sm-4
                                .input-group
                                    span.input-group-addon
                                        i.material-icons view_list
                                    .select-clear
                                        select.form-control.show-tick(name='top-categ2')
                                            option(value='') -- Please select --
                                            -if(categories && categories.length !== 0)
                                                -for(let value of categories)
                                                    optgroup(label=value._id)
                                                        -for(let c of value.categories_group)
                                                             option(value=c._id selected=(topCategories[1]===c._id.toString())) #{c.name}


                            .col-sm-4
                                .input-group
                                    span.input-group-addon
                                        i.material-icons view_list
                                    .select-clear
                                        select.form-control.show-tick(name='top-categ3')
                                            option(value='') -- Please select --
                                            -if(categories && categories.length !== 0)
                                                -for(let value of categories)
                                                    optgroup(label=value._id)
                                                        -for(let c of value.categories_group)
                                                             option(value=c._id selected=(topCategories[2]===c._id.toString())) #{c.name}

                        .row.clearfix
                            .col-sm-4
                            .col-sm-2
                                button.btn.btn-block.btn-primary.waves-effect(type='submit') SUBMIT
                            .col-sm-2
                                button#btn-reset.btn.btn-block.btn-warning.waves-effect(type='button') RESET
                            .col-sm-1
                                button#btn-clear.btn.btn-warning.waves-effect(type='button') CLEAR
                            .col-sm-3

