extends ../layout/master

block title
    title Product

block extra-meta
    meta(name='product-code' content=product.code)

block append script
    script(type='text/javascript' src='/client/js/product_custom.js')
    script(src='https://cdn.jsdelivr.net/npm/js-cookie@2/src/js.cookie.min.js')
    script(src='/client/js/productDetail.js')
    script(type='text/javascript').
        $(document).ready(function () {
            var showChar = 400;  // How many characters are shown by default
            var ellipsestext = "...";
            const content = $('.readmore').html();

            if (content.length > showChar) {
                var c = content.substr(0, showChar);
                var more = c + ellipsestext + '&nbsp;';
                $('.readmore').html(more);
            }
            else {$('.readmore-btn').hide()}
            $('.readmore-btn').click(function () {
                if ($(this).hasClass("less")) {
                    $(this).removeClass("less");
                    $(this).html('Show more >');
                    $('.readmore').html(more);
                } else {
                    $(this).addClass("less");
                    $(this).html('Less <');
                    $('.readmore').html(content);
                }
            });

            var code = [];
            if (Cookies.get('code') !== null && Cookies.get('code') !== '' && Cookies.get('code') !== undefined) {
                var codeArr = JSON.parse(Cookies.get('code'));
                for (let i = 0; i < codeArr.length && i < 9; i++) {
                    if (codeArr[i] !== $('meta[name="product-code"]').attr("content")) code.push(codeArr[i])
                }
            }
            code.unshift($('meta[name="product-code"]').attr("content"));
            Cookies.set('code', code, {expires: 3});
        });

block append link
    link(rel='stylesheet' type='text/css' href='/client/styles/product_styles.css')
    link(rel='stylesheet' type='text/css' href='/client/styles/product_responsive.css')

block content
    - if (!product || product.length === 0)
        include 404
    - else
        .single_product
            .container
                .row
                    .col-lg-7
                        .row
                            // Images
                            .col-lg-3.order-lg-1.order-2
                                ul.image_list
                                    - for (let i=0; i<product.images.length && i<3; i++)
                                        li(data-image=product.images[i])
                                            img(src=product.images[i] alt=product.name)
                            // Selected Image
                            .col-lg-9.order-lg-2.order-1
                                .image_selected
                                    img(src=product.images[0] alt=product.name)
                        p
                        if (product.specifications)
                            .card.border
                                .body.table-responsive
                                    table.table
                                        thead
                                            tr
                                                th.text-center #
                                                th.text-center Properties
                                                th.text-center Value
                                        tbody.text-center
                                            - let k = 1;
                                            - for (let specification in product.specifications)
                                                tr
                                                    th(scope='row') #{k}
                                                    td #{specification}
                                                    td #{product.specifications[specification]}
                                                    - k++
                    // Description
                    .col-lg-5.order-3
                        .product_description
                            .product_category #{product.categories[0].name}
                            .product_name #{product.name}
                            //.rating_r.rating_r_4.product_rating
                            //    i
                            //    i
                            //    i
                            //    i
                            //    i
                            .product_text.readmore !{product.description}
                            p
                            a.readmore-btn(href='javascript:void(0)') Show more >
                            .order_info.d-flex.flex-row
                                form(action='#')
                                    .clearfix(style='z-index: 1000;')
                                        // Product Quantity
                                        .product_quantity.clearfix
                                            span Quantity:
                                            input#quantity_input(type='text' pattern='[0-9]*' value='1')
                                            .quantity_buttons
                                                #quantity_inc_button.quantity_inc.quantity_control
                                                    i.fas.fa-chevron-up
                                                #quantity_dec_button.quantity_dec.quantity_control
                                                    i.fas.fa-chevron-down
                                        // Product Color
                                        ul.product_color
                                            li
                                                span Color:
                                                .color_mark_container
                                                    #selected_color.color_mark
                                                .color_dropdown_button
                                                    i.fas.fa-chevron-down
                                                ul.color_list
                                                    li
                                                        .color_mark(style='background: #999999;')
                                                    li
                                                        .color_mark(style='background: #b19c83;')
                                                    li
                                                        .color_mark(style='background: #000000;')
                                    .product_price Price: $ #{product.price}
                                    .button_container
                                        button.button.cart_button.btn-add-to-cart(type='button' data-code=product.code) Add to Cart&nbsp;
                                            i.fas.fa-shopping-cart
    // Recently Viewed
    include revently_viewed
    // Brands
    .brands
        .container
            .row
                .col
                    .brands_slider_container
                        // Brands Slider
                        .owl-carousel.owl-theme.brands_slider
                            - for (let brand of brands)
                                .owl-item
                                    .brands_item.d-flex.flex-column.justify-content-center
                                        img(src=brand.logo alt='' style='width: 10%')
                        // Brands Slider Navigation
                        .brands_nav.brands_prev
                            i.fas.fa-chevron-left
                        .brands_nav.brands_next
                            i.fas.fa-chevron-right