extends ../layout/master

block title
    title Shop

block extra-meta
    meta(name='max-price' content=maxPrice)
    -if (meta && meta.min)
        meta(name='min-value' content=meta.min)
    -if (meta && meta.max)
        meta(name='max-value' content=meta.max)

block append link
    link(rel='stylesheet' type='text/css' href='/client/plugins/jquery-ui-1.12.1.custom/jquery-ui.css')
    link(rel='stylesheet' type='text/css' href='/client/styles/shop_styles.css')
    link(rel='stylesheet' type='text/css' href='/client/styles/shop_responsive.css')
    link(rel='stylesheet' type='text/css' href='/admin/css/materialize.css')
    style.
        .product_image > a > img {
            max-width: 150px !important;
        }

        .char-15 {
            white-space: nowrap;
            text-overflow: ellipsis;
            overflow: hidden;
            max-width: 15ch;
        }

block content
    // Home
    .home
        .home_background.parallax-window(data-parallax='scroll' data-image-src='images/shop_background.jpg')
        .home_overlay
        .home_content.d-flex.flex-column.align-items-center.justify-content-center
            -if (!category)
                h2.home_title All Categories
            -else
                h2.home_title #{category.name}
    // Shop
    .shop
        .container
            - if (type === 0)
                - items = 'products'
                include 404-item
            - else
                .row
                    .col-lg-3
                        // Shop Sidebar
                        .shop_sidebar
                            .sidebar_section
                                .sidebar_title Categories
                                ul.sidebar_categories
                                    - for (let c of categories)
                                        .row
                                            input(id=c.name type='checkbox' name='category' value=c.name checked=(category&&c.name===category.name)).chk-col-blue
                                            label(for=c.name) #{c.name}
                            .sidebar_section.filter_by_section
                                .sidebar_title Filter By
                                .sidebar_subtitle Price
                                .filter_price
                                    #slider-range.slider_range
                                    p Range:
                                    p
                                        input#amount.amount(type='text' readonly='' style='border:0; font-weight:bold;')
                            //.sidebar_section
                            //    .sidebar_subtitle.color_subtitle Color
                            //    ul.colors_list
                            //        li.color
                            //            a(href='#' style='background: #b19c83;')
                            //        li.color
                            //            a(href='#' style='background: #000000;')
                            //        li.color
                            //            a(href='#' style='background: #999999;')
                            //        li.color
                            //            a(href='#' style='background: #0e8ce4;')
                            //        li.color
                            //            a(href='#' style='background: #df3b3b;')
                            //        li.color
                            //            a(href='#' style='background: #ffffff; border: solid 1px #e1e1e1;')
                            .sidebar_section
                                .sidebar_subtitle.brands_subtitle Brands
                                ul.brands_list
                                    - for (let b of brands)
                                        .row
                                            input(id=b.name type='checkbox' name='brand' value=b.name checked=(brand&&b.name===brand.name)).chk-col-blue
                                            label(for=b.name) #{b.name}
                            .sidebar_section
                                .sidebar_subtitle.brands_subtitle Sort by price
                                ul.brands_list
                                    .row
                                        input(id='priceDown' type='checkbox' name='sort' value='priceDown' checked=(sort && sort === 'price_-1')).chk-col-blue
                                        label(for='priceDown') Descending
                                    .row
                                        input(id='priceUp' type='checkbox' name='sort' value='priceUp' checked=(sort && sort === 'price_1')).chk-col-blue
                                        label(for='priceUp') Ascending
                            .sidebar_section
                                .sidebar_subtitle.brands_subtitle
                                    .button-place
                                        button.btn.btn-outline-primary.waves-effect(style='cursor: pointer') Search
                    .col-lg-9
                        // Shop Content
                        .shop_content
                            .shop_bar.clearfix
                                .shop_product_count
                                    span #{meta.totalItems}
                                    |  products found
                            .product_grid
                                .product_grid_border
                                // Product Item
                                - for (let product of nProducts)
                                    .border_active
                                    .product_item.is_new.d-flex.flex-column.align-items-center.justify-content-center.text-center
                                        .product_border
                                        .product_image.d-flex.flex-column.align-items-center.justify-content-center
                                            a(href='/product/'+product.code)
                                                img(src=product.images[0] alt='' title=product.name)
                                        .product_content
                                            .product_price $ #{product.price}
                                            .product_name
                                                a.product_code(href='/product/'+product.code tabindex='0' name=product.code title=product.name): p.mx-auto.char-15 #{product.name}
                                        .product_fav
                                            i.fas.fa-heart
                            // Shop Page Navigation
                            - if (type === 2)
                                -let categoryP = '', brandP = '', minP = '', maxP = '', search = '', sortP = '', price
                                -if (category) categoryP = 'category=' + category.name + '&'
                                -if (brand) brandP = 'brand=' + brand.name + '&'
                                -if (meta.min) minP = 'min=' + meta.min + '&'
                                -if (meta.max) maxP = 'max=' + meta.max + '&'
                                -if (meta.price) price = 'price=' + meta.price + '&'
                                -if (sort) sortP = 'sort=' + sort + '&'
                                - search = categoryP + brandP + minP + maxP + sortP
                                - search = (search === '')?'':search.slice(0, -1)
                                .shop_page_nav.d-flex.flex-row
                                    ul.page_nav.d-flex.flex-row
                                        - if (meta.page === 1)
                                            li.disabled
                                                a First
                                        - else
                                            li
                                                a(href='/shop?' + search) First
                                        - let i = meta.page > 5 ? meta.page - 4 : 1
                                        - if (i !== 1)
                                            li.disabled
                                                a ...
                                        - for (; i <= meta.page + 4 && i <= meta.ntotal; i ++)
                                            - if (i === meta.page)
                                                li.active
                                                    a= i
                                            - else
                                                -if(search !== '')
                                                    - search = '&' + search
                                                li
                                                    a(href='/shop?npage=' + i + search)= i
                                            - if (i === meta.page + 4 && i < meta.ntotal)
                                                li.disabled
                                                    a ...
                                        - if (meta.page === meta.ntotal)
                                            li.disabled
                                                a Last
                                        - else
                                            // -if(search !== '')
                                            //     - search = '&' + search
                                            li
                                                a(href='/shop?npage=' + meta.ntotal + search) Last
    ///Recently Viewed
    include recently_viewed

block append script
    script(src='/client/plugins/Isotope/isotope.pkgd.min.js')
    script(src='/client/plugins/jquery-ui-1.12.1.custom/jquery-ui.js')
    script(src='/client/js/shop_custom.js')
    script(src='https://cdn.jsdelivr.net/npm/js-cookie@2/src/js.cookie.min.js')
    script(src='/client/js/shop.js')