extends ../../layouts/master

block extra-css
    link(rel='stylesheet' href='/admin/plugins/bootstrap-material-datetimepicker/css/bootstrap-material-datetimepicker.css')
    link(rel='stylesheet' href='/admin/plugins/waitme/waitMe.min.css')
    link(rel='stylesheet' href='/admin/plugins/bootstrap-select/css/bootstrap-select.min.css')
    link(rel='stylesheet' href='/admin/plugins/sweetalert/sweetalert.min.css')

block extra-js
    script(type='text/javascript' src='/admin/plugins/sweetalert/sweetalert.min.js')
    script(type='text/javascript' src='/admin/plugins/momentjs/moment.min.js')
    script(type='text/javascript' src='/admin/plugins/bootstrap-material-datetimepicker/js/bootstrap-material-datetimepicker.js')
    script(type='text/javascript' src='/admin/plugins/autosize/autosize.min.js')
    script(type='text/javascript' src='/admin/js/pages/orders/orders.js')
    //script(type='text/javascript' src='/admin/plugins/bootstrap-suggest/bootstrap-suggest.js')
    script(type='text/javascript').
        $('#select-city').on('change', function () {
            $.ajax({
                url: '/api/districts?cid=' + $(this).val(),
                method: 'GET',
                success: function (res) {
                    var s = $('#select-district');
                    s.html('');
                    res.forEach(function (d) {
                        s.append($('<option>').val(d.ID).text(d.Title))
                    });
                    s.removeAttr('disabled');
                    s.selectpicker('refresh');
                },
                error: function (err) {
                    console.log(err);
                }
            });
        });

        $('.datepicker').bootstrapMaterialDatePicker({weekStart: 0, time: false});


block content
    .card.p-b-15
        .header
            h2
                | Orders
            ul.header-dropdown.m-r--5
                li.dropdown
                    a.dropdown-toggle(href='javascript:void(0);' data-toggle='dropdown' role='button' aria-haspopup='true' aria-expanded='false')
                        i.material-icons more_vert
                    ul.dropdown-menu.pull-right
                        li
                            a(href='javascript:void(0);') Action
                        li
                            a(href='javascript:void(0);') Another action
                        li
                            a(href='javascript:void(0);') Something else here
        .body.table-responsive
            - if (unpaid_orders_quantity&&unpaid_orders_quantity!==0)
                .alert.alert-warning
                    strong Unpaid orders detected!
                    |  There are #{unpaid_orders_quantity} unpaid orders!&nbsp;
                    a.alert-link(href='/manager/orders?os=0') Do you want to see them?
            .row
                .col-sm-2
                    .input-group
                        .form-line
                            input.query-input.datepicker.form-control.show-tick.no-resize(type='text' placeholder='--From Date--' data-query='ofrom')

                .col-sm-2
                    .input-group
                        .form-line
                            input.query-input.datepicker.form-control.show-tick.no-resize(type='text' placeholder='--To Date--' data-query='oto')

                .col-sm-2
                    .form-group
                        .form-line
                            input.query-input.form-control(type='text', placeholder='Search' value=meta&&meta.q?meta.q : '' data-query='oq')

                .col-sm-2
                    select.query-input.form-control.show-tick(data-query='os')
                        option(value='') --Status Choose--
                        option(value=0) Unpaid
                        option(value=2) Accept
                        option(value=1) Done
                        option(value=-1) Reject

                .col-sm-2
                    select#select-city.query-input.form-control.show-tick(data-live-search='true' data-query='oc')
                        option(value='') --City Choose--
                        - if (cities&&cities.length !=0)
                            - for (city of cities)
                                option(value=city.ID)= city.Title

                .col-sm-2
                    select#select-district.query-input.form-control.show-tick(data-live-search='true' disabled data-query='od')

            .row
                .col-sm-12
                    button#search-btn.btn.btn-danger.waves-effect.waves-float(type='button') Filter Orders
                    a.btn.bg-cyan.waves-effect.waves-float.m-l-5(href='/manager/dashboard') Show Charts
            .row
                - if (orders.length === 0)
                    - link = '/manager/dashboard'
                    include 404
                - else
                    .col-sm-12
                        table.table.table-bordered.table-hover
                            thead
                                tr
                                    th.text-center #
                                    th.text-center DATE
                                    th.text-center PRICE
                                    th.text-center PRODUCT
                                    th.text-center ADDRESS
                                    th.text-center STATUS
                                    th.text-center ACTION
                            tbody.text-center
                                - let length = orders.length;
                                - for (let i = 0; i < length; i ++)
                                    tr
                                        th(scope='row') #{i + 1}
                                        td
                                             -if(orders[i].created_at)
                                                 | #{new Date(orders[i].created_at).toLocaleDateString()}
                                        td #{orders[i].total}
                                        td
                                            - for(p of orders[i].products)
                                                p
                                                    | #{p.name + ' - ' + p.price + ' - ' + p.quantity}
                                        td #{orders[i].receiver_address}
                                        td
                                            - if (orders[i].status === -1)
                                                b.text-danger Rejected
                                            - if (orders[i].status === 0)
                                                b.text-warning Unpaid
                                            - if (orders[i].status === 2)
                                                b.text-success Accepted
                                            - if (orders[i].status === 1)
                                                b.text-primary Done
                                        td
                                            button.btn.btn-link.waves-effect(type='button', data-type="ajax-loader" data-t='2' data-b=orders[i]._id)
                                                i.material-icons eject
                                            button.btn.btn-link.waves-effect(type='button', data-type="ajax-loader" data-t='1' data-b=orders[i]._id)
                                                i.material-icons check_circle
                                            button.btn.btn-link.waves-effect(type='button', data-type="ajax-loader" data-t='-1' data-b=orders[i]._id)
                                                i.material-icons delete

                - if (meta)
                    - let limit = ''
                    - let q = ''
                    - if (meta.limit !== 10)
                        - limit += '&limit=' + meta.limit
                    -if (meta.q)
                        - q = '&q=' + meta.q
                    .row.text-right
                         ul.pagination(style='margin-right: 1%')
                            - if (meta.cpage === 1)
                                li.paginate_button.disabled
                                    a First
                            - else
                                li.paginate_button
                                    a(data-page='1' href='javascript:void(0)') First
                            - let i = meta.cpage > 5 ? meta.cpage - 4 : 1
                            - if (i !== 1)
                                li.paginate_button.disabled
                                    a ...
                            - for (; i <= meta.cpage + 4 && i <= meta.total; i ++)
                                - if (i === meta.cpage)
                                    li.paginate_button.active
                                        a= i
                                - else
                                    li.paginate_button
                                        a(data-page=i href='javascript:void(0)')= i
                                - if (i === meta.cpage + 4 && i < meta.total)
                                    li.paginate_button.disabled
                                        a ...
                            - if (meta.cpage === meta.total)
                                li.paginate_button.disabled
                                    a Last
                            - else
                                li.paginate_button
                                    a(data-page=meta.total href='javascript:void(0)') Last