extends ../../layouts/master

block title
    title Brand Form

block extra-css

block extra-js
    script(type="text/javascript" src="/admin/plugins/bootstrap-notify/bootstrap-notify.min.js")
    script(type='text/javascript' src='/admin/js/pages/products-manager/brand-form.js')

block content
    .card
        .header
            h2 #{title}

        .body
            - if (!brand && method==='PUT')
                - link = '/manager/products-manager/brands'
                include 404
            - else
                - action = method==='PUT'?'/manager/products-manager/brands/'+brand.name+'?_method=PUT':'/manager/products-manager/brands'
                form.container(action=action method="POST")
                    .row
                        .col-sm-4(style="text-align:center")
                            .dz-message
                                h4 Click to upload.
                            #img-mask.mask
                                .preloader.pl-size-xl
                                    .spinner-layer.pl-red
                                        .circle-clipper.left
                                            .circle
                                        .circle-clipper.right
                                            .circle

                            img#blah(src=(brand&&brand.logo)?brand.logo:"/admin/images/placeholder.png" alt="your image" style="width:100%")
                            .file-field.input-field
                                .btn.btn-danger.m-t-20
                                    span Browse
                                    input#imgInp(type='file')
                                - if (errs&&errs.logo)
                                    p.text-danger.text-center.m-t-15 #{errs.logo}

                        .col-sm-6
                            b Brand Name
                            .input-group
                                span.input-group-addon
                                    i.material-icons store
                                .form-line
                                    input.form-control(type='text' name="name" value=(brand&&brand.name)?brand.name:'')
                            - if (errs && errs.name)
                                p.text-danger.text-center.m-t-15 #{errs.name}
                            b Brand Description
                            .input-group
                                .form-line
                                    textarea.form-control.no-resize(rows='8' name='description')
                                        - if (brand && brand.description)
                                            | #{brand.description}
                                - if (errs&&errs.description)
                                    p.text-danger.text-center.m-t-15 #{errs.description}
                            input#inpUpload(type='hidden' name='logo' value=(brand&&brand.logo)?brand.logo:'')

                    .row
                        .col-sm-4
                        .col-sm-2
                            input.btn.btn-block.btn-primary.waves-effect(type='submit' value='SUBMIT')
                        .col-sm-2
                            button.btn.btn-block.btn-warning.waves-effect(type='reset') RESET
                        .col-sm-4