extends ../../layouts/master

block title
    title Categories

block extra-css
    link(rel='stylesheet' href='/admin/plugins/bootstrap-select/css/bootstrap-select.min.css')
    link(rel='stylesheet' href='/admin/plugins/sweetalert/sweetalert.min.css')

block extra-js
    script(type='text/javascript' src='/admin/plugins/sweetalert/sweetalert.min.js')
    script(type='text/javascript' src='/admin/js/pages/products-manager/category.js')

block content
    .container-fluid
        .row.clearfix
            .col-lg-12.col-md-12.col-sm-12.col-xs-12
                .card.p-b-15
                    .header
                        h2
                            | LIST CATEGORIES
                        ul.header-dropdown.m-r--5
                            li.dropdown
                                a.dropdown-toggle(href='javascript:void(0);' data-toggle='dropdown' role='button' aria-haspopup='true' aria-expanded='false')
                                    i.material-icons more_vert
                                ul.dropdown-menu.pull-right
                                    li
                                        a(href='javascript:void(0);') Action
                                    li
                                        a(href='javascript:void(0);') Another action
                                    li
                                        a(href='javascript:void(0);') Something else here
                    .row.m-t-20
                        .col-sm-4
                            - if (cmeta)
                                - let limit = cmeta.limit
                                .col-xs-3.m-t-25
                                    label Show
                                .col-lg-6.col-md-4.col-sm-5.col-xs-3.m-t-15
                                    select.select-limit.form-control.show-tick
                                        option(selected disabled) #{limit}
                                        option(value='5') 5
                                        option(value='10') 10
                                        option(value='20') 20
                                        option(value='30') 30
                                        option(value='40') 40
                                        option(value='50') 50
                                .col-xs-3.m-t-25
                                    label entries
                        .col-sm-4
                            .col-xs-5.m-t-25
                                label Please select
                            .col-lg-7.col-md-4.col-sm-5.col-xs-3.m-t-15
                                select.select-level.form-control.show-tick(name='categories')
                                    //option(value='') -- Select level --
                                    option(selected disabled) Level #{level}
                                    option(value='1') Level 1
                                    option(value='2') Level 2
                                    option(value='3') Level 3
                        .col-sm-4
                            .col-sm-10.col-xs-5.m-t-15(style='float: right')
                                .form-group
                                    .form-line
                                        input#search-input.form-control(type='text', placeholder='Search' value=cmeta && cmeta.q ? cmeta.q : '')
                            .col-lg-2.col-sm-2.col-xs-1.m-t-15(style='float: right')
                                button#search-btn.btn.btn-danger.btn-circle.waves-effect.waves-circle.waves-float(type='button')
                                    i.material-icons search
                    - if (!categories || categories.length === 0)
                        - link = '/manager/products-manager/categories/create'
                        - items = 'categories'
                        include 404
                    - else
                        .body.table-responsive
                            .row
                                .col-sm-12
                                    table.table.table-bordered.table-hover
                                        thead
                                            tr
                                                th #
                                                th.text-center NAME
                                                th.text-center DESCRIPTION
                                                - if (level === 1)
                                                    th.text-center CHILDREN
                                                - if (level === 2)
                                                    th.text-center PARENT
                                                    th.text-center CHILDREN
                                                - if (level === 3)
                                                    th.text-center PARENT
                                                th.text-center ACTION
                                        tbody.text-center
                                            - let length = categories.length;
                                            - for (let i = 0; i < length; i ++)
                                                tr
                                                    th(scope='row') #{i + 1}
                                                    td #{categories[i].name}
                                                    td #{categories[i].description}
                                                    - if (level === 1)
                                                         td
                                                             -let lengthC = categories[i].children.length
                                                             -for (k = 0; k < lengthC; k ++)
                                                                p #{categories[i].children[k].name}
                                                    - if (level === 2)
                                                         td
                                                             -let lengthP = categories[i].parent.length
                                                             -for (m = 0; m < lengthP; m ++)
                                                                p #{categories[i].parent[m].name}
                                                         td
                                                             -let lengthC = categories[i].children.length
                                                             -for (k = 0; k < lengthC; k ++)
                                                                 p #{categories[i].children[k].name}
                                                    - if (level === 3)
                                                         td
                                                             -let lengthP = categories[i].parent.length
                                                             -for (m = 0; m < lengthP; m ++)
                                                                p #{categories[i].parent[m].name}
                                                    td
                                                        a.btn.btn-link(href='/manager/products-manager/categories/' + categories[i].name + '/edit')
                                                            i.material-icons edit
                                                        button.btn.btn-link.waves-effect(type='button', data-type="ajax-loader" data-b=categories[i].name)
                                                            i.material-icons delete

                            - if (cmeta)
                                - let limit = ''
                                - let q = ''
                                - if (cmeta.limit !== 10)
                                    - limit += '&climit=' + cmeta.limit
                                -if (cmeta.q)
                                    - q = '&cq=' + cmeta.q
                                -if (level)
                                    - level = '&clevel=' + level
                                .row.text-right
                                    ul.pagination(style='margin-right: 1%')
                                        - if (cmeta.page === 1)
                                            li.paginate_button.disabled
                                                a First
                                        - else
                                            li.paginate_button
                                                a(href='/manager/products-manager/categories?' + limit.substring(1) + q + level) First
                                        - let i = cmeta.page > 5 ? cmeta.page - 4 : 1
                                        - if (i !== 1)
                                            li.paginate_button.disabled
                                                a ...
                                        - for (; i <= cmeta.page + 4 && i <= cmeta.total; i ++)
                                            - if (i === cmeta.page)
                                                li.paginate_button.active
                                                    a= i
                                            - else
                                                li.paginate_button
                                                    a(href='/manager/products-manager/categories?cpage=' + i + limit + q + level)= i
                                            - if (i === cmeta.page + 4 && i < cmeta.total)
                                                li.paginate_button.disabled
                                                    a ...
                                        - if (cmeta.page === cmeta.total)
                                            li.paginate_button.disabled
                                                a Last
                                        - else
                                            li.paginate_button
                                                a(href='/manager/products-manager/categories?cpage=' + cmeta.total + limit + q + level) Last