extends ../../layouts/master

block extra-css
    link(rel='stylesheet' href='/admin/plugins/bootstrap-select/css/bootstrap-select.min.css')
    link(rel='stylesheet' href='/admin/plugins/sweetalert/sweetalert.min.css')

block extra-js
    script(type='text/javascript' src='/admin/plugins/sweetalert/sweetalert.min.js')
    script(type='text/javascript' src='/admin/js/pages/users-manager/users.js')

block content
    .container-fluid
        .row.clearfix
            .col-lg-12.col-md-12.col-sm-12.col-xs-12
                .card
                    .header
                        h2
                            | CUSTOMERS
                        ul.header-dropdown.m-r--5
                            li.dropdown
                                a.dropdown-toggle(href='javascript:void(0);' data-toggle='dropdown' role='button' aria-haspopup='true' aria-expanded='false')
                                    i.material-icons more_vert
                                ul.dropdown-menu.pull-right
                                    li
                                        a(href='javascript:void(0);') Action
                                    li
                                        a(href='javascript:void(0);') Another action
                                    li
                                        a(href='javascript:void(0);') Something else here
                    .body.table-responsive
                        .row
                            .col-sm-3.col-md-2
                                - if (meta)
                                    - let limit = meta.limit
                                    .input-group
                                        span.input-group-addon
                                            | Limit
                                        .form-line
                                            select#select-limit.form-control.show-tick
                                                option(selected disabled) #{limit}
                                                option(value='5') 5
                                                option(value='10') 10
                                                option(value='20') 20
                                                option(value='30') 30
                                                option(value='40') 40
                                                option(value='50') 50
                            .col-sm-3.col-md-2
                                .input-group
                                    span.input-group-addon
                                        | Type
                                    .form-line
                                        select#select-type.form-control.show-tick
                                            option(selected disabled) -- Type --
                                            option(value='1' selected=meta&&meta.type&&meta.type===1) Customer
                                            option(value='2' selected=meta&&meta.type&&meta.type===2) Employee
                            .col-sm-3.col-md-2
                                .input-group
                                    span.input-group-addon
                                        a#search-btn(type='button' href='javascript:void(0)')
                                            i.material-icons(style='font-weight: bold') search
                                    .form-line
                                        input#input-search.form-control(type='text', placeholder='Search' value=meta&&meta.q?meta.q:'')
                            .col-sm-2.col-md-2.col-xs-3
                                .input-group
                                    span.input-group-addon
                                        input#check-all(type='checkbox')
                                        label(for='check-all') Check All
                                    .form-group
                            .col-sm-3.col-md-2.col-xs-9
                                .input-group
                                    span.input-group-addon
                                        a#delete-all-btn(href='javascript:void(0)')
                                            i.material-icons delete
                                    label.m-t-5(for='delete-all-btn') Delete Checked
                        - if (!users || users.length === 0)
                                include ../products-manager/404
                        - else
                            table.table.table-bordered.table-hover
                                thead
                                    tr
                                        th.text-center CHOOSE
                                        th.text-center CODE
                                        th.text-center NAME
                                        th.text-center ADDRESS
                                        th.text-center EMAIL
                                        th.text-center PHONE
                                        th.text-center BIRTHDAY
                                        th.text-center ACCOUNT
                                        th.text-center ACTION
                                tbody.text-center
                                    - for (let u of users)
                                        tr
                                            td
                                                input.item-checkbox(type='checkbox' id='uc-' + u.mid value=u._id)
                                                label(for='uc-' + u.mid)
                                            td #{u.mid}
                                            td #{u.full_name}
                                            td #{u.address}
                                            td #{u.email}
                                            td #{u.phone}
                                            td #{u.birthday.toLocaleDateString()}
                                            td
                                                - for (a of u.account)
                                                    | #{a.username}
                                            td
                                                a.btn.btn-link(href='/manager/dashboard/users-manager/users/' + u.mid)
                                                    i.material-icons edit
                                                a.btn.btn-link.delete-btn(data-delete=u.mid)
                                                    i.material-icons delete
                        - if (meta)
                            - let limit = '', q='', type = ''
                            - if (meta.limit !== 10)
                                - limit += '&limit=' + meta.limit
                            - if (meta.q)
                                - q = '&q=' + meta.q
                            - if (meta.type)
                                - type = '&type=' + meta.type
                            .row.text-right
                                ul.pagination(style='margin-right: 1%')
                                    - if (meta.page === 1)
                                        li.paginate_button.disabled
                                            a First
                                    - else
                                        li.paginate_button
                                            a(href='/manager/dashboard/users-manager/users?' + limit.substring(1) + q + type) First
                                    - let i=meta.page>5?meta.page-4:1
                                    - if (i !== 1)
                                        li.paginate_button.disabled
                                            a ...
                                    - for (; i<=meta.page+4&&i<=meta.total; i++)
                                        - if (i===meta.page)
                                            li.paginate_button.active
                                                a #{i}
                                        - else
                                            li.paginate_button
                                                a(href='/manager/dashboard/users-manager/users?page=' + i + limit + q)= i
                                        - if (i === meta.page + 4 && i < meta.total)
                                            li.paginate_button.disabled
                                                a ...

                                    - if (meta.page === meta.total)
                                        li.paginate_button.disabled
                                            a Last
                                    - else
                                        li.paginate_button
                                            a(href='/manager/dashboard/users-manager/users?page=' + meta.total + limit + q + type) Last