.card
    .header
        h2
            | ACCOUNT FORM
        ul.header-dropdown.m-r--5
            li.dropdown
                a.dropdown-toggle(href='javascript:void(0);' data-toggle='dropdown' role='button' aria-haspopup='true' aria-expanded='false')
                    i.material-icons more_vert
                ul.dropdown-menu.pull-right
                    li
                        a(href='javascript:void(0);') Action
                    li
                        a(href='javascript:void(0);') Another action
                    li
                        a(href='javascript:void(0);') Something else here
    .body
        - acc_action = String(method)==='PUT'?'/manager/dashboard/users-manager/users/account/'+account.username+'?_method=PUT':'/manager/dashboard/users-manager/users/'+ user.mid +'/account'
        form(method='POST' action=acc_action name='account-form')
            .row.clearfix
                .col-lg-1
                .col-md-6.col-lg-4
                    h4.m-b-20 Account
                    input(type='hidden' name='user_id' value=user?user._id:account?account.user_id:'')
                    .input-group
                        span.input-group-addon
                            i.material-icons person
                        .form-line
                            input.form-control(type='text' name='username' placeholder="Username" value=account&&account.username?account.username:'')
                    - if (errs && errs.username)
                        p.text-danger #{errs.username}

                    .input-group
                        span.input-group-addon
                            i.material-icons visibility
                        .form-line
                            select.form-control.show-tick(name='type')
                                option(value='') -- Account Type --
                                option(value=1 selected=account&&(account.type===1||account.type==='1')) Customer
                                option(value=2 selected=account&&(account.type===2||account.type==='2')) Employee
                    p#err-type.text-danger #{(errs&&errs.type)?errs.type:''}
                .col-lg-2
                .col-lg-4.col-md-6
                    h4.m-b-20 Password
                    .input-group
                        span.input-group-addon
                            i.material-icons lock
                        .form-line
                            input.form-control(type='password' name='password' placeholder='Password' value=account&&account.password?account.password:'')
                    p#err-password.text-danger #{(errs && errs.password)?errs.password:''}

                    .input-group
                        span.input-group-addon
                            i.material-icons lock
                        .form-line
                            input#compare-password.form-control(type='password' placeholder='Compare password' value=account&&account.password?account.password:'')
                        p#alert-compare-password.text-danger

                .col-lg-1

            .row.text-center
                button.btn-lg.btn.btn-primary.waves-effect.m-r-5(type='submit') SUBMIT
                input.btn-lg.btn.btn-warning.waves-effect.m-l-5(type='reset' value="RESET")